body {
   background-color: #182128;
   font-family: Courier, monospace;
}

h1 {
    text-align: center;
    color: rgba(128, 0, 128);
    margin-bottom: 10px;
    padding-bottom: 10px;
}

#plateau {
    margin: 10px auto;
    border: 25px solid #07090b;
    background-color: rgba(50, 50, 50);
    border-collapse: collapse;
    width: 580px;
}

.cellule {
    height: 50px;
    width: 50px;
    text-align: center;
    background-repeat: no-repeat;
}
