body {
   background-color: #152025;
   font-family: Courier, monospace;
   color: white;
   text-align: center;
}

#titre {
    text-align: center;
    color: white;
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-size: 200%;
}

#plateau, #combat {
    margin: auto;
    border: 1px solid #ff8000;
    background-color: #323232;
    width: 548px;
    box-shadow: 2px 2px black;
}

.cellule {
    height: 50px;
    width: 50px;
    background-repeat: no-repeat;
}


.bouton {
    width: 200px;
    border: 1px solid #ff8000;
    background-color: #182128;
    margin: 10px 32px 30px 32px;
    padding: 10px;
    box-shadow: 2px 2px #ff8000;
    display: inline-block;
    color: inherit;
    font-family: inherit;
}

.barre {
    width:546px;
    height: 10px;
    background-color: #152025;
    display: inline-block;
    border: solid 1px black;
}

.vieJ1 {
    height: 10px;
    display: inline-block;
    border-right: solid 1px black;
    background-color: #800080;
    float: left;
}

.vieJ2 {
    height: 10px;
    display: inline-block;
    border-left: solid 1px black;
    background-color: #ff0080;
    float: right;
}

.message {
    font-size: 120%;
}

#footer {
    background-color: #323232;
    border: solid black 1px;
    box-shadow: 2px 2px black;
    width: 548px;
    margin: auto;
    margin-top: 20px;
}

#footer p {
    text-align: center;
}

#footer a {
    text-decoration: none;
    color: #ff8000;
}

#footer img {
    height: 30px;
}
